<html>
    <head>
    <title>Save Animals!</title>
    <meta charset="utf-8">
    <script type='text/javascript' src='static\js\jquery-3.1.1.min.js'></script>
    <script type='text/javascript' src='static/js/script1.js'></script>
    <link rel="stylesheet" href="static\css\bootstrap.css">
    <link rel="stylesheet" href="static\css\style.css">
    <style>
        body {
            background-image: url(static/grass.jpg);
            background-size: cover;
        }
        #weather {
            left: 150px;
        }
        #city {
            left: 350px;
        }
    </style>
    </head>
    <body>
        <audio src="static/vomboza.mp3" loop="loop" autoplay="autoplay"></audio>
        <button type="button" id="info" class="btn btn-info">Информация</button>
        <button type="button" id="weather" class="btn btn-info">Одеть Сергея по погоде</button>
        <button type="button" id="city" class="btn btn-info">Переехать</button>
        <img id="dude"src="static\vombat.png">
        <img id="house"src="static\house.png">

    </body>
</html>
